.body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  min-height: calc(100vh - 72px);
}

.nav {
  background-color: #0070f3;
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.link {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
